In [1]:
from cafle import Index, Account

In [2]:
idx = Index("2023.01", 6)

In [5]:
acc = Account(idx)

In [6]:
abc = acc.subacc("abc")
bca = acc.subacc("bca")

In [7]:
abc.addamt([idx[0], idx[1], idx[3]], [100, 200, 300])

In [10]:
bca.subamt([idx[2], idx[3], idx[5]], [200, 400, 100])

In [11]:
acc.mrg

Account(main, len 6)

In [12]:
acc.mrg.df

            bal_strt  amt_in  amt_out  bal_end
2023-01-31       0.0   100.0      0.0    100.0
2023-02-28     100.0   200.0      0.0    300.0
2023-03-31     300.0     0.0    200.0    100.0
2023-04-30     100.0   300.0    400.0      0.0
2023-05-31       0.0     0.0      0.0      0.0
2023-06-30       0.0     0.0    100.0   -100.0

In [13]:
acc.mrg.jnl

Empty DataFrame
Columns: [amt_in, amt_out, rcvfrm, payto, note]
Index: []

In [16]:
jnllst = [item.jnl for item in acc._dct.values()]

In [17]:
jnllst

[           amt_in amt_out rcvfrm payto     note
 2023-01-31    100       0   None  None  add_amt
 2023-02-28    200       0   None  None  add_amt
 2023-04-30    300       0   None  None  add_amt,
            amt_in amt_out rcvfrm payto     note
 2023-03-31      0     200   None  None  sub_amt
 2023-04-30      0     400   None  None  sub_amt
 2023-06-30      0     100   None  None  sub_amt]

In [18]:
import pandas as pd

In [21]:
jnllst = pd.concat(jnllst)

In [25]:
jnllst = jnllst.sort_index()

In [26]:
jnllst

           amt_in amt_out rcvfrm payto     note
2023-01-31    100       0   None  None  add_amt
2023-02-28    200       0   None  None  add_amt
2023-03-31      0     200   None  None  sub_amt
2023-04-30    300       0   None  None  add_amt
2023-04-30      0     400   None  None  sub_amt
2023-06-30      0     100   None  None  sub_amt

In [27]:
abc.jnlscd

Empty DataFrame
Columns: [amt_in, amt_out, rcvfrm, payto, note]
Index: []

In [80]:
from src.cafle import Index, Account

In [81]:
idx = Index("2023.01", 6)

In [82]:
acc = Account(idx)

In [83]:
abc = acc.subacc("abc")
bca = acc.subacc("bca")

In [84]:
abc.addamt([idx[0], idx[1], idx[5]], [10, 20, 30])
bca.subamt([idx[2], idx[3], idx[4]], [200, 300, 400])

In [85]:
acc.mrg

AttributeError: can't set attribute 'jnl'

In [56]:
abc.jnl

           amt_in amt_out rcvfrm payto     note
2023-01-31     10       0   None  None  add_amt
2023-02-28     20       0   None  None  add_amt
2023-06-30     30       0   None  None  add_amt

In [57]:
abc.jnl.columns

Index(['amt_in', 'amt_out', 'rcvfrm', 'payto', 'note'], dtype='object')

In [58]:
abc.JNLCOL

AttributeError: 'Account' object has no attribute 'JNLCOL'

In [59]:
JNLCOL     = ['amt_in', 'amt_out', 'rcvfrm', 'payto', 'note']

In [67]:
set(abc.jnl.columns) != set(JNLCOL)

False

In [66]:
set(JNLCOL)

{'amt_in', 'amt_out', 'note', 'payto', 'rcvfrm'}